%h1
  About Tweet Link Monster
%p
  The site is written in Merb. 
%p
  Daniel Jackoway wrote it all and owns the copyright to all of the code. The only part of the site that he doesn't own the rights to is the images. Jennifer Teeter owns the monster.  
  