%h1
  About Tweet Link Monster
%p
  The site is written in Merb. 
%p
  = link_to image_tag('powered_by_merb.png', :style=>'border: none'), 'http://merbivore.com'
%p
  Merb is amazing, and I'm so glad I chose Merb as my framework. If you're a programmer, I strongly suggest giving Merb a try. 
%p
  Daniel Jackoway wrote it all and owns the copyright to all of the code. The only part of the site that he doesn't own the rights to is the images. Jennifer Teeter owns the monster.  
%h1
  Acknowledgements
%p
  Speaking of Jennifer, I need to thank people. 
%p
  I would like to thank everyone who contributes to Merb, whether by writing code, helping in IRC, or putting tutorials/info online. 
%p
  I'd particularly like to thank Michael Ivey, my friend/mentor/employer/whatever. He introduced me to Merb, helped me debug, got me hosting, and has just generally rocked. 
%p
  I'd like to thank my sponsor 
  = sponsor_text
  \. They pay for my hosting. If you need a web app developed, I highly recommend them. (Oh, by the way, I work for them. If you like what I do, awesome! you'll get more of me. If you think tlm sucks, well, I'm just the lowly intern that does the stuff I can handle, and Michael and Don really do the hard stuff. They know what they're doing.)
%p
  And Jennifer Teeter, thanks for doing the monster pic. It's pretty awesome. 