%h1 Contact the Monster
%p
  We haven't worked out the details yet, but you can send @'s and d's to 
  = link_to "@tweetlinkmonstr", "http://twitter.com/tweetlinkmonstr"
  and also follow it for the newest details. 
%p
  You can also send questions to 
  x=link_to "info@tweetlinkmonster.com", "mailto:info@tweetlinkmonster.com"