%h1 Contact the Monster
%p
  We prefer all features and bug reports to go to 
  = link_to "our feedback page", "http://tweetlinkmonster.uservoice.com/"
  \.
%p
  You can also send questions to 
  =link_to "info@tweetlinkmonster.com", "mailto:info@tweetlinkmonster.com"