%h1
  Frequently Asked Questions
%h2
  Answered by the monster.
#faq
  .question
    Why do I want to use TLM?
  .answer
    There are a lot of reasons. You  might get your tweets on SMS and not want to forget about links tweeted when you're away from the Internet. (Yes, there really are people who are regularly away from the Internet.)
    You might just not like to mix tweet-reading and link-visiting.
    Or you might just think I'm too cute not to use my service.
    All are rational reasons to use TLM.
  .question
    How does it work?
  .answer
    I've been genetically engineered to eat all of your tweets, digesting the boring linkless ones and regurgitating the others into a convenient Atom feed. 
    Ok, if you want to know more about how it works and who wrote it, go to
    = link_to "our about page", url(:about)
    \.
  .question
    Are my Twitter account details safe?
  .answer
    Absolutely! They are encrypted in our database, and we promise never to decrypt them other than to fetch your tweets. For more info, see the 
    = link_to "privacy page", url(:privacy)
  .question
    How do you make money?
  .answer
    For now, I don't. I am enslaved, and my developer did this as a fun side project. We have an amazing sponsor 
    = sponsor_text
    that basically covers our expenses. 
    In the future, you may see premium features or something. 
  .question
    You're just trying to suck me in and then charge me in a couple of months, right?
  .answer
    Nope. There will always be a free version of TLM, even if there is also a paid upgrade.
  .question
  .answer
  .question
  .answer
  .question
  .answer
  .question
  .answer
  .question
  .answer
  .question
  .answer
