
%p
  The Tweet Link Monster eats all of the tweets that the people you follow tweet and spits out the ones that have links in them as an Atom feed. 
%h3 Why do I want to use TLM?
%p
  You  might get your tweets on SMS and not want to forget about links tweeted when you're away from the Internet. (Yes, there really are people who are regularly away from the Internet.)
  You might just not like to mix tweet-reading and link-visiting.
  Or you might just think the monster is really cute.
  All are rational reasons to use TLM.
%h3 No New Site to Visit
%p
  Assuming you already read some web feeds regularly, you won't have to visit a new site for TLM. 
  Your TLM feed integrates right into any feed reader. After you sign up, you should never have to visit the site again. 
%p
  TLM is now in alpha. 
%p
%p
  =link_to 'Get a Feed', resource(:users, :new), :style => "font-size: 20pt"
  