
%p
  The Tweet Link Monster eats all of the tweets that the people you follow tweet and spits out the ones that have links in them as an Atom feed. 
%p
  TLM is now officially at a super-extra-alpha release. 
%p
%p
  =link_to 'Make an Account', '/users/new', :style => "font-size: 20pt"
  