%p
  Tweet Link Monster gives you an Atom feed of all of the links people you follow tweet. 
%p
  TLM is now officially at a super-extra-alpha release. The monster's not born yet, aesthetics don't exist, but it works. Also, I'm probably making the encryption more secure soon, and I might not bother transferring all of your accounts. So your account might die in a few hours/tomorrow.
%p
  BUT it does work
%p
  Go to
  =link_to 'here', '/users/new'
  to make an account.
%p
  Your feed will be http://www.tweetlinkmonster.com/feed/username.xml (though this might change too)
