%h1 Privacy Policy
%p
  Security is of utmost importance to me. I keep your passwords securely encrypted deep in my stomach. 
%p
  I promise never to decrypt your passwords other than to fetch your tweets. 