%h1 Terms of Service
%p{:style=>'font-weight: bold'}
  By using Tweet Link Monster, you agree to the following terms: 
%p
  Tweet Link Monster and the people affiliated with it (known hereafter as "the monster") are not responsible for any missed links in tweets due to error on the monster's part. 
%p
  The monster reserves the right to ban and delete the accounts of any user for any reason. 
%p 
  The mosnter reservers the right to alter these terms at any time without notice. 