a {
  color: #006400; }
  a:hover {
    color: #9aff24;
    background: #006400; }


#banner {
  margin: auto;
  width: 750px; }

#body {
  width: 750px;
  margin: auto;
  background-color: #fff; }

#header {
  background-color: #006400;
  padding: .25em;
  padding-bottom: 0; }
  #header #links a {
    text-decoration: none;
    width: 250px;
    color: #ffffff;
    background-color: #006400;
    padding: 0em .5em; }
    #header #links a:hover {
      color: #006400;
      background-color: #ffffff; }

#message {
  left: 50px;
  width: 80%;
  background-color: #9aff24;
  padding: .5em;
  border-width: 1px;
  border-style: solid;
  border-color: #006400;
  font-color: #000000;
  margin: auto; }

.sidebar {
  width: 200px;
  padding: 1em;
  float: right; }

#main {
  margin-right: 230px;
  border-right: solid;
  border-color: #006400;
  boder-width: 1px;
  padding-right: 1em;
  margin-top: 0;
  padding-top: 0; }
