#header {
  background-color: #3333bb; }
  #header #links a {
    text-decoration: none;
    width: 200px;
    color: #fff;
    background-color: #3333bb; }
  #header #links a:hover {
    color: #3333bb;
    background-color: #fff; }

#message {
  left: 50px;
  width: 80%;
  background-color: #f70;
  padding: .5em;
  border-width: 1px;
  border-style: solid;
  border-color: #f00;
  font-color: #0f0;
  margin: auto; }
