- value = (@user.bad_sites.length>=bad_site_form+1)?@user.bad_sites[bad_site_form].pattern:""
%p
  = text_field :name => "user[bad_sites][#{bad_site_form}]", :label => "Blocked Site: ", :value => valuem