!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
  %title
    ="#{@user.username}'s Tweet Link Monster Feed"
  %link{:href => "/feed/#{@user.username}.xml", :rel => "self"}
  %link{:href => "/"}
  %updated
    =Time.now
  %author
    %name
      Daniel Jackoway
  %id
    http://www.tweetlinkmonster.com/

  - if true
    %entry
      %title
        [ANNOUNCEMENT]: TLM May Die!
      %author
        TLM
      %link{:href => 'http://twitter.com/?status=twitpay @tweetlinkmonstr $20 to stay alive'}
      %id
        1
      %content{:type=>'xhtml'}
        Hi, it's Daniel, maker of TLM. I don't feel like TLM is going anywhere or like anyone is really gaining much from it. It's a big hassle for me for a number of reasons (mostly that it's not making me any money, so it's on cheap, underpowered hosting). BUT you still have a chance to tell me that you actually care about it. If you do, twitpay @tweetlinkmonstr some money to show it. If I get enough (at least $50, maybe more), I'll keep it going. (Though I may turn it into a very cheap subscription service in a few months. We're talking at most $5/month.) "Twitpay?", you ask. Twitpay lets you send money via twitter. All I want right now is the promise of money, which is done simply through a tweet. Don't "settle" the promise (actually give me money) yet. If I decide to keep it going, I'll @reply the people who promised me money asking them to settle. If I kill it, feel free to delete the promise. Just tweet "twitpay @tweetlinkmonstr $20 stay alive!" Notice that @tweetlinkmonstr has no e at the end.)  Feel free to mess with the amount of money and the comment. 

