%h1
  = @exception
  -#params[:exception]
%p
  If you typed this url, you probably mistyped it.
%p
  If we linked you to this url, please send us feedback so we can fix it.
%p
  In any case, we suggest you go back to some page on our site, perhaps
  = link_to "the homepage", url(:index)
  \.